/* Navigation bar */

nav {
  display: flex;
  height: 60px;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  font-size: 0.85;
  margin-left: auto;
  text-align: right;
}
#nav-submit, #favorites-link, #ownStories-link{
  font-size: 0.75rem ;
  margin: 1px;
}

#nav-all{
  margin-right: 20px;
}
